<%- include('../../user/includes/head', {webTitle: ' Admin' }) %>
    <%- include('../../admin/includes/header') %>

        <!-- Home Container :: Begins -->
        <main style="min-height: calc(100vh - 10rem);">
            <div class="section-heading">
                <p class="mb-0"><%= greeting %></p>
                <h2><%= user.name %></h2>
            </div>
            <div class="row mx-0" style="min-height: 8rem;">
                <div class="col-lg-3 col-sm-12 ps-0">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-12 pe-0">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-0 mt-3" style="min-height: calc(100% / 2 - 6rem - 31px);">
                <div class="col-lg-7 col-sm-12 ps-0">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                      </div>
                </div>
                <diV class="col-lg-5 col-sm-12 pe-0">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                      </div>
                </diV>
            </div>
            <div class="row mx-0 mt-3" style="min-height: calc(100% / 2 - 6rem - 31px);">
                <div class="col-lg-4 col-sm-12 ps-0">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                      </div>
                </div>
                <div class="col-lg-4 col-sm-12 pe-0">
                    <div class="card h-100">
                        <div class="card-body">
                            Work in Progress
                        </div>
                      </div>
                </div>
            </div>
        </main>
        <!-- Home Container :: Begins -->

        <%- include('../../admin/includes/footer') %>