<%- include('../includes/head', {webTitle: 'Blogs' }) %>
<%- include('../includes/header') %>
        <main>
            <div class="blog-container" style="padding-block: 2rem; margin-top: 5rem;">
                <h2 class="section-title">All Blogs</h2>
                <div class="blog-card-container">
                    <!-- Blog Card :: Begins  -->
                    <% blogs.forEach(function(blog) { %>
                        <div class="blog-card" onclick="location.href='/blog/<%= blog._id %>'">
                            <div class="blog-card-header">
                                <img src="<%= blog.featuredImage %>" alt="">
                            </div>
                            <div class="blog-card-body">
                                <div class="blog-category"><%= blog.category?.category %></div>
                                <h2 class="blog-title"><%= blog.title %></h2>
                                <div class="blog-body">
                                    <p><%= blog.description.split(/\s+/).slice(0, 20).join(' ') %>...</p>
                                </div>
                            </div>
                            <div class="blog-card-footer">
                                <div class="creator-details-container">
                                    <span class="creator-avatar" id="creatorAvatar">
                                        AP
                                        <!-- <img src="" alt=""> -->
                                    </span>
                                    <div class="created-details">
                                        <span class="creator-name"><%= blog.userId.name %></span>
                                        <span class="created-date"><%= moment(blog.createdAt).format('DD MMM YYYY') %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                    <!-- Blog Card :: Ends  -->
                </div>
            </div>
        </main>
<%- include('../includes/footer') %>