<%- include('../../user/includes/head', {webTitle: ' Admin' }) %>
    <%- include('../../admin/includes/header') %>

        <!-- Home Container :: Begins -->
        <main>
            <div class="blogs-container">
                <div class="text-end mb-3">
                    <a href="/admin/create-blog"><button type="button" class="custom-btn custom-submit-btn">Add
                            Category</button></a>
                </div>
                <div class="card custom-card-theming">
                    <div class="card-body">
                        <div style="overflow: auto;">
                            <table class="table table-bordered table-responsive customer_dataTable_theming"
                                id="blogs_table__ID">
                                <thead>
                                    <tr>
                                        <th>Blog Name</th>
                                        <th>User</th>
                                        <th>Image</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% blogs.forEach(function(blog) { %>
                                        <tr>
                                            <td>
                                                <%= blog.title %>
                                            </td>
                                            <td>

                                            </td>
                                            <td><a href="<%= blog.featuredImagePath %>" target="_blank">

                                                </a></td>
                                            <td class="text-center">
                                                <span class="custom-action-btn custom-action-btn-edit"><i
                                                        class="fa-regular fa-sm fa-pen-to-square"></i></span>
                                                <form action="./blogs/<%= blog._id %>?_method=DELETE" method="POST"
                                                    style="display: inline">
                                                    <button type="submit"
                                                        class="custom-action-btn custom-action-btn-delete"><i
                                                            class="fa-regular fa-sm fa-trash-can"></i></span>
                                                </form>
                                            </td>

                                        </tr>
                                        <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Home Container :: Begins -->

        <script>
            $(document).ready(function () {
                $("#blogs_table__ID").DataTable({
                    "info": false,
                    "paging": false,
                    searching: false,
                });
            });
        </script>

        <%- include('../../admin/includes/footer') %>