<%- include('../../user/includes/head', {webTitle: ' Admin' }) %>
    <%- include('../../admin/includes/header') %>

        <!-- Home Container :: Begins -->
        <main>
            <div class="blogs-container">
                <div class="text-end my-3">
                    <a href="/admin/create-blog"><button type="button" class="custom-btn custom-submit-btn">Create
                            Blog</button></a>
                </div>
                <div class="card custom-card-theming">
                    <div class="card-body">
                        <div style="overflow: auto;">
                            <table class="table table-bordered table-responsive custom_dataTable_theming"
                                id="blogs_table__ID">
                                <thead>
                                    <tr>
                                        <th>Blog Name</th>
                                        <th>User</th>
                                        <th class="text-center">Image</th>
                                        <th class="text-center">Published Date</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% blogs.forEach(function(blog) { %>
                                        <tr>
                                            <td>
                                                <a href="/blog/<%= blog.slug %>" target="_blanks">
                                                    <%= blog.title %>
                                                </a>
                                                <p class="blog-discription mb-0">
                                                    <%= blog.excerpt %>
                                                </p>
                                            </td>
                                            <td>
                                                <a href="#">Aslam Parvej</a>
                                            </td>
                                            <td align="center">
                                                <a href="<%= blog.featuredImagePath %>" target="_blank">
                                                    <img src="<%= blog.featuredImagePath %>" alt="<%= blog.title %>"
                                                        height="40">
                                                </a>
                                            </td>
                                            <td align="center">
                                                <%= new Date(blog.createdAt).toLocaleDateString("en-IN", {
                                                    year: "numeric" , month: "long" , day: "numeric" }) %>
                                            </td>
                                            <td align="center">
                                                <% if (blog.status=='published' ) { %>
                                                    <p class="badge rounded-pill bg-success text-capitalize mb-0">
                                                        <%= blog.status %>
                                                    </p>
                                                    <% } else { %>
                                                        <p class="badge rounded-pill bg-secondary text-capitalize mb-0">
                                                            <%= blog.status %>
                                                        </p>
                                                        <% } %>
                                            </td>
                                            <td class="text-center">
                                                <span class="custom-action-btn custom-action-btn-edit"><i
                                                        class="fa-regular fa-sm fa-pen-to-square"></i></span>
                                                <form action="./blogs/<%= blog._id %>?_method=DELETE" method="POST"
                                                    style="display: inline">
                                                    <button type="submit"
                                                        class="custom-action-btn custom-action-btn-delete"><i
                                                            class="fa-regular fa-sm fa-trash-can"></i></span>
                                                </form>
                                            </td>

                                        </tr>
                                        <% })%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Home Container :: Begins -->

        <script>
            $(document).ready(function () {
                $("#blogs_table__ID").DataTable({
                    scrollY: "calc(100vh - 25rem)",
                    scrollCollapse: true,
                    ordering: true,
                    info: false,
                    paging: false,
                    searching: false,
                    responsive: true,
                });
            });
        </script>

        <%- include('../../admin/includes/footer') %>